!!! Strict
%html{ html_attrs("en") }
  %head
    = title :reverse => true, :site => "MagnitudeCMS"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = css_include_tag :backend
    /[if IE]
      = css_include_tag :ie_is_shit
    = js_include_tag :"ext-core"

  %body
    #page.container_16
      = catch_content :for_layout
      #page_footer
    = partial "backend/footer"
