- title "Create New Site"
#main-content
  - if @site
    - @site.errors.each do |e|
      %p= e
      
  %h1 Create New Site
  = form :action => url(:"mcms/sites") do
    .row
      .col.label
        %label{ :for => "txt_name" } Name
      .col
        %input#txt_name{ :type => "text", :name => "site[name]" }
    .row
      .col.label
        %label{ :for => "txt_couchdb" } CouchDB
      .col
        %input#txt_couchdb{ :type => "text", :name => "site[couchdb]", :value => "#{Merb::Config[:couchdb_url]}/#{Merb::Config[:database]}_" }
    .row
      %input{ :type => "submit", :value => "Create Site" }

  - unless @sites.empty?
    %h1= link_to("Add to existing site?", url(:"new_existing_mcms/site"))
      